body {
    background-color: rgb(50, 69, 85);
}

.questionBox {
    width: 300px;
    height: 200px;
    text-align: center;
    margin: auto;
    padding-top: 4%;
    border-radius: 5%;
    font-family: 'Montaga', serif;
    /* font-style: italic; */
    color: rgb(50, 69, 85);
    background-color: white;
    vertical-align: middle;
}

.header {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-size: 100%;
    color: white;
    padding-top: 20px;
}

.choice {
    border: none;
    text-align: center;
    padding-top: 2%;
}

.score {
    color: white;
    padding-top: 5px;
    padding-right: 10%;
    padding-bottom: 1%;
    text-align: right;
    font-family: 'Montaga', serif;
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }

